
  
  <div class="row">
    <div class="col-md-8 offset-md-2" id="body-container">

      User Profile For: {{user.username}}

      {{#if user.movies}}

        <br>Movies That "{{user.username}}" Suggested: <br>

        {{#each user.movies}}
          <a href="/movie/{{this._id}}" style="text-decoration: none;">&nbsp; &nbsp; &bull; &nbsp;{{this.name}}</a><br>
        {{/each}}
      
      {{/if}}

      {{#if user.comments}}

        <br>Comments By "{{user.username}}": <br>

        {{#each user.comments}}
          <a href="/movie/{{this.movie}}" style="text-decoration: none;">&nbsp; &nbsp; &bull; &nbsp;{{this.body}}</a><br>
        {{/each}}
      
      {{/if}}
    </div> 
  </div>