<div class="container-fluid container-max-width mt-5">
  <div class="row" id="row-for-movie-cards">

      <div class="col-md-8 col-sm-6 offset-md-2 offset-sm-6 card mb-3 mt-3">
        {{#if updatedMovie}}
          <div class="alert alert-success mb-5">{{updatedMovie}}</div>
        {{/if}}

        {{#if createdComment}}
          <div class="alert alert-success mb-5">{{createdComment}}</div>
        {{/if}}

        <div class="card-border">

          {{#if notAuthorized}}
              <div class="alert alert-danger mt-3">{{notAuthorized}}</div>
          {{/if}}

          <h3 class="card-header">{{movie.name}}</h3>
          <div class="card-body">
            {{!-- <h5 class="card-title">Special title treatment</h5> --}}
            {{!-- <h6 class="card-subtitle text-muted">Support card subtitle</h6> --}}
          </div>
          <img style="height: 500px; width: 100%; display: block;" src="{{movie.image}}" alt="Card image">
          <div class="card-body">
            <p class="card-text">{{movie.description}}</p>
            <br>Author:  <a href="/users/{{user._id}}">{{user.username}}</a> 
          </div>
          {{#if loggedInUser}}
            {{#if correctUser}}
              <div class="card-body">
                <a href="/movie/update/{{movie._id}}" class="card-link btn btn-warning">Edit</a>
                <button data-toggle="modal" data-target="#deleteModal" class="card-link btn btn-danger">Delete</button>
              </div>
            {{/if}}
          {{/if}}
          <div class="card-footer text-muted" id="dateID">
            {{movie.created_at}}
          </div>
        </div>
      </div>

  </div>
</div> 

<div class="modal" id="deleteModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Are You Sure That You Want To Delete Movie <strong>"{{movie.name}}"</strong></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <form action="/movie/delete/{{movie._id}}" method="POST">
          <button type="submit" class="card-link btn btn-danger">Yes</button>
        </form> 
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>




<div class="container">
	<h2 class="text-center">Bootstrap 4 User Rating Form / Comment Form</h2>

  {{#each movie.comments}}
	
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                    <p class="text-secondary text-center">15 Minutes Ago</p>
                </div>
                <div class="col-md-10">
                    <p>
                        <a class="float-left" href="/users/{{this.author._id}}"><strong>{{this.author.username}}</strong></a>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                          <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>
                        <span class="float-right"><i class="text-warning fa fa-star"></i></span>

                  </p>
                  <div class="clearfix"></div>
                    <p>{{this.body}}</p>
                    <p>
                        <a class="float-right btn btn-outline-primary ml-2"> <i class="fa fa-reply"></i> Reply</a>
                        <a class="float-right btn text-white btn-danger"> <i class="fa fa-heart"></i> Like</a>
                  </p>
                </div>
            </div>
        </div>
    </div>

  {{/each}}
          <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new comment
          </a>


<!--Collapse Add a comment form START-->
        <div class="collapse" id="collapseComment">
          <div class="well">
              {{#unless loggedInUser}}
            <!--If the user is not logged in, direct him to the login page-->
            <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
              {{/unless}}
               {{#if loggedInUser}}
            <!--If the user is logged in, show the new comment form-->
            <h4>Write your comment <span class="glyphicon glyphicon glyphicon-pencil" aria-hidden="true"></span></h4>
            <form action="/comments/create" method="POST">
              <div class="form-group">
                <input class="form-control" type="text" disabled value="User: {{loggedInUser.username}}">
              </div>
              <div class="form-group">
                <div class="error-input" id="missing-comment-error">
                  <?php 
                    if($missingComment){ ?>
                      <i class="fa fa-times-circle"></i>
                      <?php writeMessage("Comment field is required.");
                    }
                  ?>
                </div>
                <textarea class="form-control" name="commentBody" placeholder="Write your comment..." rows="5" cols="70"></textarea>
              </div>
              <input type="hidden" name="movieID" value="{{movie._id}}">
              <div class="form-group">
                <button type="submit" name="addcoment" class="btn btn-success">Submit <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></button>
              </div>
            </form>
               {{/if}}
          </div>
        </div>
        <!--Collapse Add a comment form END-->


  <br><br>


</div>

